@page
<style>
    body {
        background-color: #fef9e1;
        color: #a31d1d;
    }

    a {
        text-decoration: none;
        outline-color: transparent;
    }

        a:link, a:visited, a:focus {
            color: #6d2323;
        }
</style>
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Download Your Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
