<style>
    body{background-color:#fef9e1;
    color:#a31d1d;}
</style>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1> Добре дошли в Notes </h1>
    <p>Вашето място за създаване, записване и организиране на бележки по лесен и удобен начин.</p>
    <p>С Notes можете да съхранявате важни мисли, да създавате списъли със задачи и да имате достъп до тях отвсякъде.</p>
    <p>Бъдете продуктивни и никога не забравяйте нищо важно!</p>
    @* <а href="#"> Започни сега</а> *@
</div>
