<style>
    body {
        background-color: #fef9e1;
        color: #a31d1d;
    }
</style>
@{
    ViewData["Title"] = "Privacy Policy";
}
<header></header>
<h1>Политика за поверителност</h1>
<p>Вашата поверителност е важна за нас. Тази страница описва как събираме, изпозваме и защитаваме вашите данни. </p>
<p>Ние не споделяме вашата информация с трети страни и използваме сигурни методи за съхранение на данните.</p>
<p>Ако имате въпроси, не се колебайте да се свържете с нас.</p>