@page
<style>
    body {
        background-color: #fef9e1;
        color: #a31d1d;
    }

    a {
        text-decoration: none;
        outline-color: transparent;
    }

        a:link, a:visited, a:focus {
            color: #6d2323;
        }
</style>
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This account has been locked out, please try again later.</p>
</header>
