@page
<style>
    body {
        background-color: #fef9e1;
        color: #a31d1d;
    }

    a {
        text-decoration: none;
        outline-color: transparent;
    }

        a:link, a:visited, a:focus {
            color: #6d2323;
        }
</style>
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
